@media (max-width: 600px) {
  .container {
    height: fit-content;
    width: 98vw;
  }
  .block {
    width: 135 px;
    padding: 5 px 20 px;
    margin-left: 10 px;
    display: block;
  }

  input[type="text"] {
    width: 78vw;
  }

  input[type="button"] {
    width: 200px;
    margin-left: 23%;
  }
}
